<!-- <table border="1px">
<tr *ngIf="this.enteredRecipe!==undefined">

  <td >{{this.enteredRecipe.name}}</td>

  <td>{{this.enteredRecipe.price}}</td>

    </tr>
  </table>
  <br> <br><br><br> <br><br> -->
<body>
    <nav>
    <ul>
      <li><a style="text-decoration: none;" href="">Home</a></li>
      <li><a style="text-decoration: none;" href="">About</a></li>
      <li><a style="text-decoration: none;" href="">Contact Us</a></li>
    </ul>
  </nav>

  <!-- <table border="1px">
  <tr *ngIf="this.enteredRecipe!==undefined">

    <td >{{this.enteredRecipe.name}}</td>

    <td>{{this.enteredRecipe.price}}</td>

      </tr>
    </table> -->
    <br> <br><br><br> <br><br>
  <div id="main">
  <div class="maindiv">
    </div>
    <div>
   <h1 style="text-align:center">Receipe</h1>
  </div>
  </div>
  <table align="center">
        <tr>
          <td>
            <div class="card">
           <a text-align="center" width="100%">
              <img class="images" src="assets/Img/bir.jpg" alt="Biryani"></a>
              <p id="caption">Biryani</p>
              <!-- <p class="title">CEO & Founder</p> -->
               <p>Some text that describes me</p>
              <p>example@example.com</p>
               <p><button class="button">Order It</button></p>
               </div>
       </td>


          <td><div class="card">
            <a text-align="center" width="100%">
            <img class="images" src="assets/Img/idly.jpg" alt="Idly"></a>
            <p id="caption">Idly</p>
            <p>Some text that describes me</p>
            <p>example@example.com</p>
            <p><button class="button">Order It</button></p>
            </div>
          </td>



    <td><div class="card">
      <a  text-align="center" width="100%">
            <img class="images" src="assets/Img/chgr.jpg" alt="Chicken Grill"></a>
            <p id="caption">Chicken_Grill</p>
            <p>Some text that describes me</p>
            <p>example@example.com</p>
            <p><button class="button">Order It</button></p>
            </div></td></tr>


 <tr><td><div class="card">
    <a text-align="center" width="100%">
          <img class="images" src="assets/Img/ds.jpg" alt="Dosa"></a>
          <p id="caption">Dosa</p>
          <p>Some text that describes me</p>
          <p>example@example.com</p>
          <p><button class="button">Order It</button></p>
          </div></td>



          <td><div class="card">
          <a  text-align="center" width="100%">
          <img class="images" src="assets/Img/ice.jpg" alt="Ice-Creams"></a>
          <p id="caption">Ice-Creams</p>
          <p>Some text that describes me</p>
          <p>example@example.com</p>
          <p><button class="button">Order It</button></p></div>
          </td>

          <td><div  class="card">
            <a text-align="center" width="100%">
            <img class="images" src="assets/Img/thiksh.jpg" alt="Thick-Shakes"></a>
            <p id="caption">Thick-shake</p>
            <p>Some text that describes me</p>
            <p>example@example.com</p>
            <p><button class="button">Order It</button></p></div>
          </td></tr>


  <tr><td><div class="card">
            <a text-align="center" width="100%">
            <img class="images" src="assets/Img/piz.jpg" alt="Pizza"></a>
                <p id="caption">Pizza</p>
            <p>Some text that describes me</p>
            <p>example@example.com</p>
            <p><button class="button">Order It</button></p>
        </div>
          </td>

          <td><div class="card">
  <a text-align="center" width="100%">
            <img class="images" src="assets/Img/bur.jpeg" alt="Burger"></a>
            <p id="caption">Burger</p>
            <p>Some text that describes me</p>
            <p>example@example.com</p>
            <p><button class="button">Order It</button></p>
    </div>
          </td>


        <td><div class="card">
          <a text-align="center" width="100%">
          <img class="images" src="assets/Img/sandwh.jpg" alt="Sandwich"></a>
          <p id="caption">Burger</p>
          <p>Some text that describes me</p>
          <p>example@example.com</p>
          <p><button class="button">Order It</button></p>
          </div></td>
        </tr>
      </table>
      </body>
