<!-- <table border="1px">
<tr *ngIf="this.enteredRecipe!==undefined">

  <td >{{this.enteredRecipe.name}}</td>

  <td>{{this.enteredRecipe.price}}</td>

    </tr>
  </table>
  <br> <br><br><br> <br><br> -->
<!-- <body style="margin: 0;"> -->

<body style="margin: 0;">
    <nav>
    <ul>
      <li><a style="text-decoration: none;" href="">Home</a></li>
      <li><a style="text-decoration: none;" href="">About</a></li>
      <li><a style="text-decoration: none;" href="">Contact Us</a></li>
    </ul>
  </nav>

  <table border="1px">
  <tr *ngIf="this.enteredRecipe!==undefined">

    <td >{{this.enteredRecipe.name}}</td>

    <td>{{this.enteredRecipe.price}}</td>

      </tr>
    </table>
    <br> <br><br><br> <br><br>
  <div id="main">
  <div class="maindiv">
    </div>
    <div>
   <h1 style="text-align:center">Receipe</h1>
  </div>
  </div>
  <table align="center">
        <tr>
          <td>
            <div>
  <a text-align="center" width="120" height="300px">
              <img class="images" src="assets/Img/bir.jpg" alt="Biryani"></a>
              <p class="caption">biryani</p></div>
          </td>


          <td><div>
            <a text-align="center" width="120" height="300px">
            <img class="images" src="assets/Img/idly.jpg" alt="Idly"></a>
            <p class="caption">Idly</p>
            </div>
          </td>



    <td><div>
      <a  text-align="center" width="120" height="300px">
            <img class="images" src="assets/Img/chgr.jpg" alt="Chicken Grill"></a>
            <p class="caption">Chicken_Grill</p>
            </div></td></tr>


 <tr><td><div>
    <a text-align="center" width="120" height="300px">
          <img class="images" src="assets/Img/ds.jpg" alt="Dosa"></a>
          <p class="caption">Dosa</p>
          </div></td>



          <td><div>
          <a  text-align="center" width="120" height="300px">
          <img class="images" src="assets/Img/ice.jpg" alt="Ice-Creams"></a>
          <p class="caption">Ice-Creams</p></div>
          </td>

          <td><div>
            <a text-align="center" width="120" height="300px">
            <img class="images" src="assets/Img/thiksh.jpg" alt="Thick-Shakes">,</a>
            <p class="caption">Thick-shake</p></div>
          </td></tr>


  <tr><td><div>
            <a text-align="center" width="120" height="300px">
            <img class="images" src="assets/Img/piz.jpg" alt="Pizza">
            </a>
            <p class="caption">Pizza</p>
            </div></td>

          <td><div>
  <a text-align="center" width="120" height="300px">
            <img class="images" src="assets/Img/bur.jpeg" alt="Burger"></a>
            <p class="caption">Burger</p></div>
          </td>


        <td><div>
          <a text-align="center" width="120" height="300px">
          <img class="images" src="assets/Img/sandwh.jpg" alt="Sandwich"></a>
          <p class="caption">Sandwich</p>
          </div></td>
        </tr>
      </table>
      </body>
