<div class="logo">
<img src="assets/Img/download.jpg" />
</div>
	<div id="pic">
		<img src="assets/Img/frontpic.jpeg" width="500px" height="500px">
	</div>
	<div id="l1">
		<button class="button button2"><a routerLink="/login">Login</a></button>
			<button class="button button1"><a routerLink="/signup">Sign-Up</a></button>
	</div>
	<br /><br /><br />
	<!-- <div class="box">
		<span><input id=box placeholder="Search your Recipe and restaurants" type="textbox" />
	 <button  id="button" class="w3-button w3-black w3-round-xlarge">Search</button></span>
	</div> -->






	<div class="box1">
		<span><input id=box #recipe  placeholder="Search your Recipe and restaurants" type="textbox" />
	 <button id=button ><a routerLink="/food-and-restaurants/{{recipe.value}}">Search</a></button></span>

	</div>
	<table border="1px">
	<tr *ngIf="this.currentRecipe!==undefined">
	  <td >{{this.currentRecipe.name}}</td>

		<td>{{this.currentRecipe.price}}</td>

	    </tr>
	  </table>
